{lib_dirs, ["deps/*/ebin/"]}.
{erl_opts, [debug_info, warnings_as_errors, {outdir,"ebin"}, {i,"include"}, report]}.
{deps, [
	{'jiffy', ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
	{'sync', ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
	{'getopt', ".*", {git, "https://github.com/jcomellas/getopt", {branch, "master"}}}
]}.